<ion-view view-title="我的优惠卷">
    <ion-content>
        <ion-refresher pulling-text="松开刷新" on-refresh="doRefresh()" disable-pulling-rotation="true">
        </ion-refresher>
        <div class="coupon">
            <div class="content">
                <div class="head"></div>
                <div class="tail">
                    <p>name</p>
                    <p>介绍</p>
                </div>
            </div>
            <div class="wave"></div>
        </div>
        <div class="coupon">
            <div class="content">
                <div class="head"></div>
                <div class="tail">
                    <p>name</p>
                    <p>介绍</p>
                </div>
            </div>
            <div class="wave"></div>
        </div>
        <div class="coupon">
            <div class="content">
                <div class="head"></div>
                <div class="tail">
                    <p>name</p>
                    <p>介绍</p>
                </div>
            </div>
            <div class="wave"></div>
        </div>
        <ul>
            <li class="animate-repeat" ng-if="!moreDataCanBeLoaded" style="width: 100%; box-shadow: none;">
                <div class="nothing">
                    <p>没有更多了</p>
                </div>
            </li>
        </ul>
        <ion-infinite-scroll ng-if="moreDataCanBeLoaded" on-infinite="loadMore()" distance="1%"></ion-infinite-scroll>
    </ion-content>
</ion-view>

