<ion-modal-view class="sinreg">
    <ion-header-bar align-title="left" class="bar-green">
        <div class="buttons">
            <button class="button button-clear icon ion-chevron-left" ng-click="closeLocation()"></button>
        </div>
        <form ng-submit="geocoder()" style="width: 90%; margin: 0px auto;">
        	<input type="text" id="{{glview.autotips}}" ng-model="glview.search" style="width: 100%; border-radius: 50px; padding: 0px 10px;">
        </form>
    </ion-header-bar>
    <ion-content>
    	<div>
    	</div>
		<div id="{{glview.glcontainer}}" ng-style="glview.style">
			{{initMap()}}
		</div>
		<label ng-click="closeLocation()" style="position: absolute; padding: 3px 5px; background-color: #1296db; border-radius: 5px; top: 42%; color: white; left: 44.5%; font-size: 12px;">我在这里</label>
		<img ng-click="closeLocation()" src="img/location.png" ng-style="glview.overlayer">
    </ion-content>
</ion-modal-view>
