<ion-view view-title="店铺认证" class="Certification" hide-tabs>
    <ion-content>
        <form name="verifShop" ng-submit="submit()">
            <div class="list">
                <div class="item item-divider">
                    商户信息
                </div>
                <label class="item item-input">
                    <span class="input-label">负责人：</span>
                    <input type="text" ng-pattern="" required ng-model="user.userszhenshiname" placeholder="请输入商家负责人姓名">
                </label>
                <label class="item item-input">
                    <span class="input-label">联系电话：</span>
                    <input type="text" ng-model="shop.tel" ng-pattern="regexp.phone" required placeholder="请输入商家负责人联系电话">
                </label>
                <div class="item item-divider">
                    资质信息
                </div>
                <label class="item item-input">
                    <span class="input-label">身份证号：</span>
                    <input type="text" ng-model="user.usersidcard" ng-pattern="regexp.useridcard" required placeholder="请输入商家负责人身份证号">
                </label>
                <label class="item item-input">
                    <span class="input-label">营业执照注册号：</span>
                    <input type="text" ng-model="shop.icpcode" required placeholder="请输入营业执照注册号">
                </label>
                <div class="item item-divider">
                    上传清晰营业执照
                </div>
                <div class="holding">
                    <a ng-click="getToken('shop.businesslicense')">
                        <img src="{{shop.businesslicense ? shop.businesslicense : 'img/holding.png'}}" data-ng-src="{{businesslicense}}" >
                    </a>
                </div>
                <div class="item item-divider">
                    上传手持身份证正反面照片
                </div>
                <div class="holding">
                    <a ng-click="getToken('user.default9')">
                        <img src="{{user.default9 ? user.default9 : 'img/holding.png'}}" data-ng-src="{{default9}}" >
                    </a>
                </div>
                <div class="holding">
                    <a ng-click="getToken('user.default10')">
                        <img src="{{user.default10 ? user.default10 : 'img/holding.png'}}" data-ng-src="{{default10}}" >
                    </a>
                </div>
            </div>
            <div class="padding">
                <button class="button button-block button-balanced" ng-disabled="verifShop.$invalid" type="submit">提交认证申请</button>
            </div>
        </form>
    </ion-content>
</ion-view>
