<ion-view view-title="订单管理" class="myorder">
    <ion-content class="scroll-content-cyan ws-order-content" delegate-handle="contentScroll">
        <div class="ordertype">
            <ul>
                <li ng-click="switchPanel(0)"><a ng-class="curLev == 0 ? 'active' : ''">全部</a></li>
                <li ng-click="switchPanel(1)"><a ng-class="curLev == 1 ? 'active' : ''">待付款</a></li>
                <li ng-click="switchPanel(2)"><a ng-class="curLev == 2 ? 'active' : ''">待发货</a></li>
                <li ng-click="switchPanel(3)"><a ng-class="curLev == 3 ? 'active' : ''">已完成</a></li>
            </ul>
            <div class="actived" ng-style="switchWhere"></div>
        </div>
        <ion-slide-box auto-play="false" slide-interval="300" show-pager="false">
            <!-- 全部 -->
            <ion-slide>
                <ion-scroll direction="y" style="width: 100%;" ng-style="scroll">
                    <ion-list class="ws-list" ng-if="myOrders.all.os.length > 0">
                        <div class="once-order" ng-repeat="item in myOrders.all.os">
                            <div style="width: 95%; margin: 0px auto; height: 35px; line-height: 35px; background: white;">
                                <span>{{item.ordernumber}}</span>
                                <span style="position: absolute; right: 10px; color: #FF9F59;">{{item.status}}</span>
                            </div>
                            <ion-item class="animated fadeInLeft item-remove-animate item-icon-right  item-thumbnail-left ws-order-item " ng-class="item.status != '已付款' ? 'ws-order-notake' : 'ws-order-take' " ng-repeat="other in item.producrs" type="item-text-wrap">
                                <div class="ws-order-shop">
                                    {{other.shop.shopname }}
                                </div>
                                <a ng-href="{{getUrl(other.pro.productid)}}">
                                    <img class="ws-order-picimg" ng-src="{{other.pro.productimgurl}}">
                                    <h2 class="ws-order-picname">{{other.pro.productname}}</h2>
                                    <p class="ws-order-picpri">
                                        {{other.productinfo}}
                                    </p>
                                    <!-- <i class="icon ion-chevron-right icon-accessory"></i> -->
                                    <p class="ws-order-nowpic">
                                        <span>￥{{other.pro.productprice}}</span>
                                    </p>
                                    <p class="ws-order-orgpic">
                                        <del style="color: #B6B6B6">￥{{other.pro.productmarket}}</del>
                                    </p>
                                    <p class="ws-order-num">
                                        x{{other.num}}
                                    </p>
                                </a>
                                <div class="ws-order-pdinfo">
                                    <button ng-if="item.status == '已付款'" class="button button-small button-outline button-light" ng-click="takePd(item.ordernumber, other.id)">&nbsp;&nbsp;确认收货&nbsp;&nbsp;</button>
                                </div>
                            </ion-item>
                            <div class="ws-order-action" ng-if="item.status != '已付款'">
                                <button class="button button-small button-outline button-light" ng-if="item.status == '待付款'" ng-click="readyBuy(item)">&nbsp;&nbsp;&nbsp;&nbsp;付款&nbsp;&nbsp;&nbsp;&nbsp;</button>
                                <button class="button button-small button-outline button-light" ng-disabled="!item.allowDel" ng-click="delOrder(item.ordernumber, $index)">&nbsp;&nbsp;删除订单&nbsp;&nbsp;</button>
                            </div>
                        </div>
                        <ul>
                            <li class="animate-repeat" ng-if="!myOrders.all.allowLoadMore" style="width: 100%; box-shadow: none;">
                                <div class="nothing">
                                    <p>已全部加载..</p>
                                </div>
                            </li>
                        </ul>
                        <ion-infinite-scroll ng-if="myOrders.all.allowLoadMore" on-infinite="loadMore(curLev, myOrders.all.formPageLoad)" distance="5%"></ion-infinite-scroll>
                    </ion-list>
                    <ul ng-if="myOrders.all.os == 0 && !myOrders.all.autoLoad" class="ws-pdlist-all-res">
                        <li class="ws-nothing">
                            <i class="icon-ws-NGBQ" style="font-size: 30px;"></i>
                            <br />
                            <p>没有订单哦</p>
                        </li>
                    </ul>
                </ion-scroll>
            </ion-slide>
            <!-- 待付款 -->
            <ion-slide>
                <ion-scroll direction="y" style="width: 100%;" ng-style="scroll">
                    <ion-list class="ws-list" ng-if="myOrders.waitPay.os.length > 0">
                        <div class="once-order" ng-repeat="item in myOrders.waitPay.os">
                            <div style="width: 95%; margin: 0px auto; height: 35px; line-height: 35px; background: white;">
                                <span>{{item.ordernumber}}</span>
                                <span style="position: absolute; right: 10px; color: #FF9F59;">{{item.status}}</span>
                            </div>
                            <ion-item class="animated fadeInLeft item-remove-animate item-icon-right  item-thumbnail-left ws-order-item ws-order-notake" ng-repeat="other in item.producrs" type="item-text-wrap">
                                <div class="ws-order-shop">
                                    {{other.shop.shopname }}
                                </div>
                                <a ng-href="{{getUrl(other.pro.productid)}}">
                                    <img class="ws-order-picimg" ng-src="{{other.pro.productimgurl}}">
                                    <h2 class="ws-order-picname">{{other.pro.productname}}</h2>
                                    <p class="ws-order-picpri">
                                        {{other.productinfo}}
                                    </p>
                                    <!-- <i class="icon ion-chevron-right icon-accessory"></i> -->
                                    <p class="ws-order-nowpic">
                                        <span>￥{{other.pro.productprice}}</span>
                                    </p>
                                    <p class="ws-order-orgpic">
                                        <del style="color: #B6B6B6">￥{{other.pro.productmarket}}</del>
                                    </p>
                                    <p class="ws-order-num">
                                        x{{other.num}}
                                    </p>
                                </a>
                                <div class="ws-order-pdinfo">
                                </div>
                            </ion-item>
                            <div class="ws-order-action">
                                <button class="button button-small button-outline button-light" ng-click="readyBuy(item)">&nbsp;&nbsp;&nbsp;&nbsp;付款&nbsp;&nbsp;&nbsp;&nbsp;</button>
                                <button class="button button-small button-outline button-light" ng-click="delOrder(item.ordernumber, $index)">&nbsp;&nbsp;删除订单&nbsp;&nbsp;</button>
                            </div>
                        </div>
                        <ul>
                            <li class="animate-repeat" ng-if="!myOrders.waitPay.allowLoadMore" style="width: 100%; box-shadow: none;">
                                <div class="nothing">
                                    <p>已全部加载..</p>
                                </div>
                            </li>
                        </ul>
                        <ion-infinite-scroll ng-if="myOrders.waitPay.allowLoadMore" on-infinite="loadMore(curLev, myOrders.waitPay.formPageLoad)" distance="5%"></ion-infinite-scroll>
                    </ion-list>
                    <ul ng-if="myOrders.waitPay.os == 0 && !myOrders.waitPay.autoLoad" class="ws-pdlist-all-res">
                        <li class="ws-nothing">
                            <i class="icon-ws-NGBQ" style="font-size: 30px;"></i>
                            <br />
                            <p>没有订单哦</p>
                        </li>
                    </ul>
                </ion-scroll>
            </ion-slide>
            <!-- 待收货 -->
            <ion-slide>
                <ion-scroll direction="y" style="width: 100%;" ng-style="scroll">
                    <ion-list class="ws-list" ng-if="myOrders.waitTake.os.length > 0">
                        <div class="once-order" ng-repeat="item in myOrders.waitTake.os">
                            <div style="width: 95%; margin: 0px auto; height: 35px; line-height: 35px; background: white;">
                                <span>{{item.ordernumber}}</span>
                                <span style="position: absolute; right: 10px; color: #FF9F59;">{{item.status}}</span>
                            </div>
                            <ion-item class="animated fadeInLeft item-remove-animate item-icon-right  item-thumbnail-left ws-order-item ws-order-take" ng-repeat="other in item.producrs" type="item-text-wrap">
                                <div class="ws-order-shop">
                                    {{other.shop.shopname }}
                                </div>
                                <a ng-href="{{getUrl(other.pro.productid)}}">
                                    <img class="ws-order-picimg" ng-src="{{other.pro.productimgurl}}">
                                    <h2 class="ws-order-picname">{{other.pro.productname}}</h2>
                                    <p class="ws-order-picpri">
                                        {{other.productinfo}}
                                    </p>
                                    <!-- <i class="icon ion-chevron-right icon-accessory"></i> -->
                                    <p class="ws-order-nowpic">
                                        <span>￥{{other.pro.productprice}}</span>
                                    </p>
                                    <p class="ws-order-orgpic">
                                        <del style="color: #B6B6B6">￥{{other.pro.productmarket}}</del>
                                    </p>
                                    <p class="ws-order-num">
                                        x{{other.num}}
                                    </p>
                                </a>
                                <div class="ws-order-pdinfo">
                                    <button class="button button-small button-outline button-light" ng-click="takePd(item.id, other.id)">&nbsp;&nbsp;确认收货&nbsp;&nbsp;</button>
                                </div>
                            </ion-item>
                            <div class="ws-order-action">
                            </div>
                        </div>
                        <ul>
                            <li class="animate-repeat" ng-if="!myOrders.waitTake.allowLoadMore" style="width: 100%; box-shadow: none;">
                                <div class="nothing">
                                    <p>已全部加载..</p>
                                </div>
                            </li>
                        </ul>
                        <ion-infinite-scroll ng-if="myOrders.waitTake.allowLoadMore" on-infinite="loadMore(curLev, myOrders.waitTake.formPageLoad)" distance="5%"></ion-infinite-scroll>
                    </ion-list>
                    <ul ng-if="myOrders.waitTake.os == 0 && !myOrders.waitTake.autoLoad" class="ws-pdlist-all-res">
                        <li class="ws-nothing">
                            <i class="icon-ws-NGBQ" style="font-size: 30px;"></i>
                            <br />
                            <p>没有订单哦</p>
                        </li>
                    </ul>
                </ion-scroll>
            </ion-slide>
            <!-- 已完成 -->
            <ion-slide>
                <ion-scroll direction="y" style="width: 100%;" ng-style="scroll">
                    <ion-list class="ws-list" ng-if="myOrders.complate.os.length > 0">
                        <div class="once-order" ng-repeat="item in myOrders.complate.os">
                            <div style="width: 95%; margin: 0px auto; height: 35px; line-height: 35px; background: white;">
                                <span>{{item.ordernumber}}</span>
                                <span style="position: absolute; right: 10px; color: #FF9F59;">{{item.status}}</span>
                            </div>
                            <ion-item class="animated fadeInLeft item-remove-animate item-icon-right  item-thumbnail-left ws-order-item ws-order-notake" ng-repeat="other in item.producrs" type="item-text-wrap">
                                <div class="ws-order-shop">
                                    {{other.shop.shopname }}
                                </div>
                                <a ng-href="{{getUrl(other.pro.productid)}}">
                                    <img class="ws-order-picimg" ng-src="{{other.pro.productimgurl}}">
                                    <h2 class="ws-order-picname">{{other.pro.productname}}</h2>
                                    <p class="ws-order-picpri">
                                        {{other.productinfo}}
                                    </p>
                                    <!-- <i class="icon ion-chevron-right icon-accessory"></i> -->
                                    <p class="ws-order-nowpic">
                                        <span>￥{{other.pro.productprice}}</span>
                                    </p>
                                    <p class="ws-order-orgpic">
                                        <del style="color: #B6B6B6">￥{{other.pro.productmarket}}</del>
                                    </p>
                                    <p class="ws-order-num">
                                        x{{other.num}}
                                    </p>
                                </a>
                                <div class="ws-order-pdinfo">
                                </div>
                            </ion-item>
                            <div class="ws-order-action">
                                <button class="button button-small button-outline button-light" ng-click="delOrder(item.ordernumber, $index)">&nbsp;&nbsp;删除订单&nbsp;&nbsp;</button>
                            </div>
                        </div>
                        <ul>
                            <li class="animate-repeat" ng-if="!myOrders.complate.allowLoadMore" style="width: 100%; box-shadow: none;">
                                <div class="nothing">
                                    <p>已全部加载..</p>
                                </div>
                            </li>
                        </ul>
                        <ion-infinite-scroll ng-if="myOrders.complate.allowLoadMore" on-infinite="loadMore(curLev, myOrders.complate.formPageLoad)" distance="5%"></ion-infinite-scroll>
                    </ion-list>
                    <ul ng-if="myOrders.complate.os == 0 && !myOrders.complate.autoLoad" class="ws-pdlist-all-res">
                        <li class="ws-nothing">
                            <i class="icon-ws-NGBQ" style="font-size: 30px;"></i>
                            <br />
                            <p>没有订单哦</p>
                        </li>
                    </ul>
                </ion-scroll>
            </ion-slide>
        </ion-slide-box>
    </ion-content>
</ion-view>
