<ion-view view-title="发布宝贝" class="Release" hide-tabs>
    <ion-content>
        <div class="alert">
            你的店铺还未审核通过，现在填写完后只能先放入仓库哦~
        </div>
        <div class="info">
            <div class="photo">
                <img src="http://www.runoob.com/try/demo_source/dookie.jpg">
            </div>
            <div class="list">
                <label class="item item-input">
                    <input type="text" placeholder="输入商品标题">
                </label>
                <a class="item item-icon-right" href="#">
                    类目
                    <i class="icon ion-ios-arrow-right"></i>
                </a>
            </div>
        </div>
        <p class="quarantine"></p>
        <div class="list money">
            <label class="item item-input">
                <span class="input-label">价格</span>
                <input type="text" placeholder="      ¥">
            </label>
            <label class="item item-input">
                <span class="input-label">库存</span>
                <input type="text" placeholder="">
            </label>
            <label class="item item-input">
                <span class="input-label">运费</span>
                <input type="text" placeholder="      ¥">
            </label>
            <p class="quarantine"></p>
            <a class="item item-icon-right" href="#">
                    宝贝描述
                    <i class="icon ion-ios-arrow-right"></i>
             </a>
            <p class="quarantine"></p>
            <a class="item item-icon-right" href="#">
                    发货地
                    <i class="icon ion-ios-arrow-right"></i>
             </a>
        </div>
        <div class="padding">
            <a class="button button-block button-balanced" ng-click="open()">立即发布</a>
        </div>
    </ion-content>
</ion-view>
