<ion-view view-title="店铺设置" class="Setting" hide-tabs>
    <ion-content>
        <div class="list">
            <div class="item item-divider">
                店铺设置
            </div>
            <a class="item item-icon-right  avatar" href="#">
                    <span>店铺头像</span>
                    <img src="img/shop.png">
                    <i class="icon ion-ios-arrow-right"></i>
             </a>
             <a class="item item-icon-right details" href="#">
                    店铺名称：
                    <span>小胡的店铺</span>
                    <i class="icon ion-ios-arrow-right"></i>
             </a>
             <a class="item item-icon-right details" href="#">
                    店铺介绍：
                    <span>销售鞋子、衣服</span>
                    <i class="icon ion-ios-arrow-right"></i>
             </a>
             <a class="item item-icon-right details" href="#">
                    发货地址：
                    <span>陕西省西安市未央区</span>
                    <i class="icon ion-ios-arrow-right"></i>
             </a>
             <a class="item item-icon-right details" href="#">
                    退货地址：
                    <span>陕西省西安市未央区什么乱踢八糟的什么东东都可以哦！</span>
                    <i class="icon ion-ios-arrow-right"></i>
             </a>
        </div>
    </ion-content>
</ion-view>