<ion-view view-title="推荐二维码">
        <ion-content>
                <div class="wei-ma">
                        <div class="tit">
                                <h3>云惠商城</h3>
                                <span>省钱省时，开心购物</span>
                        </div>
                        <div class="pic">
                                <img src="img/ma.png" alt="" class="img1">
                                <img ng-src="{{qrcodeUrl}}" alt="" class="img2">
                        </div>
                </div>
                <div class="ma-txt">
                        <p>扫二维码 关注云惠商城</p>
                        <span>花本来该花的钱，赚本来赚不到的钱</span>
                </div>
        </ion-content>
</ion-view>
