<ion-view view-title="我的足迹" hide-tabs class="myfoots">
  <ion-content>
    <ion-list can-swipe="true">
      <ion-item ng-repeat="item in sender.items" class="item-thumbnail-left" ng-click="gotoGood(item)">
        <img ng-src="{{item.thumbImg}}">
        <h2 style="padding-top: 10px;">{{item.goodName}}</h2>
        <p>{{item.addTime}}</p>
        <ion-option-button class="button-assertive" ng-click="del(item)">
          删除
        </ion-option-button>
      </ion-item>
    </ion-list>
    <ul>
      <li class="animate-repeat" ng-if="sender.items.length > 0 && !moreDataCanBeLoaded" style="width: 100%; box-shadow: none;">
        <div class="nothing">
          <p>没有更多了</p>
        </div>
      </li>
    </ul>
    <ul ng-if="sender.items.length == 0 && !moreDataCanBeLoaded" class="ws-pdlist-all-res">
      <li class="ws-nothing">
        <i class="icon-ws-NGBQ" style="font-size: 30px;"></i>
        <br/>
        <p>还没有您的浏览记录哦~</p>
      </li>
    </ul>
    <ion-infinite-scroll ng-if="moreDataCanBeLoaded" on-infinite="loadMore()" distance="1%"></ion-infinite-scroll>
  </ion-content>
</ion-view>
