<ion-view view-title="提现记录" hide-tabs>
    <style>
    .history .recorditem {
        padding: 0;
    }
    </style>
    <ion-content>
        <ion-list class="history">
            <div class="row" style="text-align: center;">
                <div class="col col-33">申请时间</div>
                <div class="col col-33">金额</div>
                <div class="col col-33">状态</div>
            </div>
            <ion-item ng-repeat="item in details" class="recorditem">
                <div class="row">
                    <div class="col col-33">{{splitDate(item.createdate)[0]}}</div>
                    <div class="col col-33">{{item.amount}}</div>
                    <div class="col col-33" ng-style="failStyle('{{item.status}}')" ng-click="failReason('{{item.status}}', '{{item.default1}}')">{{item.status}}</div>
                </div>
            </ion-item>
        </ion-list>
        <ul>
            <li class="animate-repeat" ng-if="define" style="width: 100%; box-shadow: none;">
                <fieldset ng-if="!options.moreDataCanBeLoaded" class="line"><legend align="center">&nbsp;&nbsp;{{define}}&nbsp;&nbsp;</legend></fieldset>
            </li>
        </ul>
        <ion-infinite-scroll ng-if="moreDataCanBeLoaded" on-infinite="loadMore()" distance="1%"></ion-infinite-scroll>
    </ion-content>
</ion-view>
