<ion-view view-title="个人资料" hide-tabs>
        <ion-content has-subheader="false">
                <div class="list ws-list pl-list">
                        <a class="item item-button-right" ng-click="changeHeader()">
                                头像
                                <img src="{{account.usersheadimgurl}}" data-ng-src="{{data_header}}" alt="">
                                <button class="button button-clear button-positive button-icon-right">
                                       <i class="icon ion-ios-arrow-right"></i>
                                </button>
                        </a>
                        <a class="item item-button-right">
                                会员名称
                                <label>{{account.usersname}}</label>
                                <button class="button button-clear button-positive button-icon-right">
                                        <!-- <i class="icon ion-ios-arrow-right"></i> -->
                                </button>
                        </a>
                        <!--<a class="item item-button-right">
                                会员等级
                                <label>{{account.userroles.typename}}</label>
                                <button class="button button-clear button-positive button-icon-right">
                                         <i class="icon ion-ios-arrow-right"></i> 
                                </button>
                        </a>-->
                        <a class="item item-button-right" ng-click="valid()">
                                手机号码
                                <label>{{account.usersphone}}</label>
                                <button class="button button-clear button-positive button-icon-right">
                                        <i class="icon ion-ios-arrow-right"></i>
                                </button>
                        </a>
                        <a class="item item-button-right" ng-click="changeEmail()">
                                邮箱
                                <label>{{account.usersemail}}</label>
                                <button class="button button-clear button-positive button-icon-right">
                                        <i class="icon ion-ios-arrow-right"></i>
                                </button>
                        </a>
                </div>
                <button class="button button-block  button-assertive" ng-click="signOut()">退出登录</button>
        </ion-content>
</ion-view>