
<ion-view class="proOrder" view-title="{{product.shopName}}" hide-tabs>

  <style>
    .proOrder .money > a.item {
      border-color: rgba(221, 221, 221, 0.52);
    }
  </style>

  <ion-content hasfooter>
    <div class="list money">
      <!--<p class="quarantine"></p>-->
      <a class="item item-avatar">
        <img src="{{product.thumbImgShow}}" style="border-radius: 0">
        <span>{{product.name}}</span>
        <span class="item-note">
            ￥{{product.price}}
        </span>
        <p>库存:{{product.stock}}</p>
      </a>
      <a class="item">
        数量
        <span class="sumcount">
            <button class="button button-small button-outline button-light left" ng-click="buyLess()">-</button>
            <span class="count">{{parameters.sumcounts}}</span>
            <button class="button button-small button-outline button-light right" ng-click="buyAdd()">+</button>
        </span>
      </a>
      <a class="item smallprice">
        小计
        <span class="item-note">
            ￥{{parameters.sumprices}}
        </span>
      </a>
      <p class="quarantine"></p>
      <a class="item item-icon-right privilege" ng-click="chooseCoupon()">
        优惠卷
        <span style="float: right; color: #cccccc; font-size: 12px;">{{cptip}}</span>
        <i class="icon ion-ios-arrow-right" style="color: #ccc; "></i>
      </a>
    </div>
  </ion-content>
  <div class="bar bar-footer bar-assertive" ng-click="goPayOrder()">
    <div class="title">￥{{parameters.sumprices}} 提交订单</div>
  </div>
</ion-view>
