<ion-view class="proDetails" view-title="{{proDetails.name}}" hide-tabs>
  <style>
    .pd-detail img {
      width: 100%;
    }
  </style>

  <ion-nav-buttons side="secondary">
    <a class="button button-icon icon" ng-click="collection()" ng-class="star"></a>
  </ion-nav-buttons>
  <ion-content>
    <div class="detail">
      <!--旋转木马-->
      <div class="carousel">
        <ion-slide-box auto-play="true" does-continue="true" show-pager="false">
          <ion-slide ng-repeat="item in proDetails.gallery">
            <img ng-src="{{item}}" width="100%"/>
          </ion-slide>
        </ion-slide-box>
      </div>
      <div class="list">
        <div class="row">
          <div class="col col-75">
            <span style="font-size: x-large; color: #ef7272; line-height: 35px;">￥{{proDetails.price}}</span>
            <span class="menshijia" style="color: #bdbdbd;">&nbsp;&nbsp;&nbsp;&nbsp;门市价：￥{{proDetails.orgPrice}}</span>
          </div>
          <div class="col">
            <button class="button button-small button-assertive" ng-click="submitOrder()">立即购买</button>
          </div>
        </div>
        <div class="row">
          <div class="col col-20">
            &nbsp;&nbsp;<i class="icon ion-android-happy" style="font-size: 20px; color: #a2a2a2;"></i>
            <span style="color: #a2a2a2; font-size: 13px; margin: 5px; position: absolute; margin-top: 2px;"> 已售{{proDetails.saleNum}}</span>
          </div>
          <div class="col" style="color: #a2a2a2;">
            <span style="position: absolute; margin-top: 2px;">库存:{{proDetails.stock}}</span>
          </div>
        </div>

        <p class="quarantine"></p>
        <div class="h4 title ">商家信息</div>
        <div class="item item-button-right shop-info" style="padding: 10px;">
          <div class="address" ng-click="proShopDetails()">
            <i class="icon icon-shop"></i>
            <span style="margin-left: 0.3rem; position: absolute;">{{proDetails.shopName}}</span>
          </div>
          <a class="button item-button-right button-clear" ng-href="tel:{{shop.shopPhone}}">
            <i class="icon ion-ios-telephone"></i>
          </a>
        </div>
      </div>
      <!--分隔线-->
      <p class="quarantine"></p>
      <!--服务项-->
      <div class="introduce">
        <!-- <div class="h4 title">商品介绍</div> -->
        <div class="list">
          <div class="item item-divider">
            图文详情
          </div>
          <div class="pd-detail" ng-bind-html="proDetail"></div>
        </div>
      </div>
    </div>
  </ion-content>
</ion-view>
