<ion-view view-title="实时路况" hide-nav-bar="true" class="merchant">
    <ion-content >
        <ion-slide-box auto-play="true" does-continue="true" show-pager="true" class="ad-slider" delegate-handle="monitorAdvs" ng-style="slider_img_style" on-slide-changed="slideChanged($index)">
            <ion-slide ng-repeat="item in monitorAdvs">
                <img ng-src="{{item.imgUrlShow}}" ng-click="handleAd(item)" ng-style="slider_img_style">
            </ion-slide>
        </ion-slide-box>

        <ion-tree-list items="tasks" collapsed="false" myclick="toVideo()"></ion-tree-list>
        <button ng-if="loading" class="button button-full button-clear button-positive">
            <ion-spinner icon="dots" ng-if="dotsHide"></ion-spinner>
            <ul ng-if="!dotsHide" class="ws-pdlist-all-res">
                <li class="ws-nothing" style="padding-top: 50px;">
                    <i class="icon-ws-NGBQ" style="font-size: 30px;"></i>
                    <br/>
                    <p>加载摄像头失败</p>
                </li>
            </ul>
        </button>
    </ion-content>
</ion-view>
