<ion-view view-title="实时路况" hide-nav-bar="true" class="merchant">
    <ion-content >
        <ion-slide-box auto-play="true" does-continue="true" show-pager="true" class="ad-slider" delegate-handle="monitorAdvs" ng-style="slider_img_style">
            <ion-slide ng-repeat="item in monitorAdvs">
                <img ng-src="{{item.imgUrlShow}}" ng-click="handleAd(item)" ng-style="slider_img_style">
            </ion-slide>
        </ion-slide-box>
        <ion-tree-list items="tasks" collapsed="false" myclick="toVideo()"></ion-tree-list>
        <fieldset ng-if="!searchSender.moreDataCanBeLoaded && scopeList.length > 0" class="line">
            <legend align="center">&nbsp;&nbsp;已全部加载&nbsp;&nbsp;</legend>
        </fieldset>
        <ion-infinite-scroll ng-if="searchSender.moreDataCanBeLoaded && !searchSender.firstLoad" on-infinite="searchShop()" distance="10%"></ion-infinite-scroll>
    </ion-content>
</ion-view>
