<ion-view view-title="我的" hide-nav-bar="true" class="account">
    <ion-content>
        <ion-refresher ng-if="signed" pulling-text="松开刷新" on-refresh="doRefresh()" disable-pulling-rotation="true">
        </ion-refresher>
        <!-- 已登录 -->
        <div class="animate-repeat" ng-if="signed">
            <div class="plsummary">
                <div class="head">
                    <a ng-href="#/tab/account/setting/personal">
                        <img style="width: 60px; height: 60px; position: absolute;" ng-src="{{user.usersheadimgurl}}"
                             alt="">
                    </a>
                </div>
                <!--<a style="font-size: 20px; float: right; margin-top: 8px;" ng-href="#/tab/account/setting">-->
                <!--<i class="icon-permissions-outline"></i>-->
                <!--</a>-->
                <div class="sussmary">
                    <p>{{user.name}}</p>
                    <p>
                        <span>我的金币：</span>
                        <span>{{user.coin}}</span>
                    </p>
                </div>
            </div>
            <div class="clear"></div>
        </div>
        <!-- END -->
        <!-- 未登录 -->
        <div class="animate-repeat" ng-if="!signed">
            <div class="plsummary">
                <div class="head">
                    <a ng-click="signOrReg()">
                        <img src="img/user_large.jpg" alt="">
                    </a>
                </div>
                <a class="logreg" style="color: white; line-height: 140px; margin-left: 30%;" ng-click="signOrReg()">登录/注册</a>
            </div>
        </div>
        <!-- END -->
        <div class="clear"></div>
        <!-- 功能模块 -->
        <div class="list card account-list order">
            <a ng-click="checkGo('tab.myorder', 'all')" class="item item-icon-left item-icon-right myorder">
                <i class="icon icon-order"></i> 我的订单
                <span>全部订单</span>
                <i class="icon ion-ios-arrow-right"></i>
            </a>
        </div>
        <p class="clear"></p>
        <div class="row" style="padding: 1px">
            <div class="col" style="text-align: center" ng-click="checkGo('tab.myorder', 'waitPay')">
                <i class="icon icon-yinxingqia " style="font-size: 25px"></i><br>
                <div class="col-demo" style="color:#a2a2a2">待付款</div>
            </div>
            <div class="col" style="text-align: center" ng-click="checkGo('tab.myorder', 'waitConsume')">
                <i class="icon icon-deliver " style="font-size: 25px"></i><br>
                <div class="col-demo" style="color:#a2a2a2">待使用</div>
            </div>
            <div class="col" style="text-align: center" ng-click="checkGo('tab.myorder', 'consumed')">
                <i class="icon icon-judge-a" style="font-size: 25px"></i><br>
                <div class="col-demo" style="color:#a2a2a2">已完成</div>
            </div>
            <!--<div class="col" style="text-align: center" ng-click="checkGo('tab.myorder', 4)">
                <i class="icon icon-order " style="font-size: 25px"></i><br>
                <div class="col-demo" style="color:#a2a2a2"></div>
            </div>-->
        </div>
        <p class="quarantine"></p>

        <div class="row" style="padding: 1px">
            <div class="col" style="text-align: center" ng-click="checkGo('tab.account-coupons')">
                <i class="icon icon-juan-a" style="font-size: 25px"></i><br>
                <div class="col-demo" style="color:#a2a2a2">优惠券</div>
            </div>
            <div class="col" style="text-align: center" ng-click="checkGo('tab.collect', 'good')">
                <i class="icon " style="font-size: 18px; line-height: 27px; color: coral;">{{collectGoods}}</i><br>
                <div class="col-demo" style="color:#a2a2a2">商品收藏</div>
            </div>
            <div class="col" style="text-align: center" ng-click="checkGo('tab.collect', 'shop')">
                <i class="icon " style="font-size: 18px; line-height: 27px; color: coral;">{{collectShops}}</i><br>
                <div class="col-demo" style="color:#a2a2a2">商家收藏</div>
            </div>
            <div class="col" style="text-align: center" ng-click="checkGo('tab.account-footprints')">
                <i class="icon icon-foot-outline" style="font-size: 25px"></i><br>
                <div class="col-demo" style="color:#a2a2a2">我的足迹</div>
            </div>
        </div>
        <p class="quarantine"></p>

        <!--<div class="list card account-list">
            <a ng-click="checkGo('tab.account-myfans')" class="item item-icon-left item-icon-right">
                <i class="icon icon-friends "></i> 我的粉丝
                <i class="icon ion-ios-arrow-right "></i>
            </a>
            <a ng-click="checkGo('tab.account-myincome') " class="item item-icon-left item-icon-right">
                <i class="icon icon-bonus-points"></i> 我的金豆
                <i class="icon ion-ios-arrow-right"></i>
            </a>
             <a ng-click="checkGo()"  class="item item-icon-left item-icon-right"">
                <i class="icon icon-red-pack"></i> 买家中心
                <i class="icon ion-ios-arrow-right"></i>
            </a>
            <a ng-click="checkGo()" class="item item-icon-left item-icon-right"">
                <i class="icon icon-red-pack-detailed"></i> 卖家中心
                <i class="icon ion-ios-arrow-right"></i>
            </a> 
            <a ng-click="checkGo('tab.account-freeopenshop')" class="item item-icon-left item-icon-right">
                <i class="icon icon-shop "></i> {{shopActionName}}
                <i class="icon ion-ios-arrow-right "></i>
            </a>
        </div>
        <p class="quarantine "></p>-->
        <div class="list card account-list ">
            <a class="item item-icon-left item-icon-right">
                <i class="icon icon-about"></i> 关于
                <i class="icon ion-ios-arrow-right"></i>
            </a>

            <a ng-click="checkGo('clear') " class="item item-icon-left item-icon-right">
                <i class="icon icon-about"></i> 清理缓存
                <i class="icon ion-ios-arrow-right"></i>
            </a>
        </div>
    </ion-content>
</ion-view>
